
.bg- {background-color: #cb1a27;} .c- {color: #cb1a27;}
.bg- {background-color: #c0392b;} .c- {color: #c0392b;}
.bg- {background-color: #f44036;} .c- {color: #f44036;}
.bg- {background-color: #ff4b1f;} .c- {color: #ff4b1f;}
.bg-fire {background-color: #eb5600;} .c-fire {color: #eb5600;}
.bg- {background-color: #ff9800;} .c- {color: #ff9800;}
.bg-dark-yellow {background-color: #f1cf02;} .c-dark-yellow {color: #f1cf02;}
.bg-yellow {background-color: #f0f600;} .c-yellow {color: #f0f600;}
.bg- {background-color: #fed03e;} .c- {color: #fed03e;}
.bg- {background-color: #f2994a;} .c- {color: #f2994a;}
.bg- {background-color: #f07167;} .c- {color: #f07167;}
.bg- {background-color: #cd3167;} .c- {color: #cd3167;}
.bg- {background-color: #e41e5d;} .c- {color: #e41e5d;}
.bg- {background-color: #e92452;} .c- {color: #e92452;}
.bg- {background-color: #f52862;} .c- {color: #f52862;}
.bg-foushia {background-color: #f300f4;} .c-foushia {color: #f300f4;}
.bg- {background-color: #f8a4d8;} .c- {color: #f8a4d8;}
.bg- {background-color: #fed9b7;} .c- {color: #fed9b7;}
.bg- {background-color: #fbc2eb;} .c- {color: #fbc2eb;}
.bg-dark-blue {background-color: #0f152e;} .c-dark-blue {color: #0f152e;}
.bg- {background-color: #051960;} .c- {color: #051960;}
.bg- {background-color: #0e2fb2;} .c- {color: #0e2fb2;}
.bg- {background-color: #2b63da;} .c- {color: #2b63da;}
.bg- {background-color: #1787e0;} .c- {color: #1787e0;}
.bg- {background-color: #2196f3;} .c- {color: #2196f3;}
.bg- {background-color: #03a9f4;} .c- {color: #03a9f4;}
.bg- {background-color: #6c63ff;} .c- {color: #6c63ff;}
.bg- {background-color: #605dd9;} .c- {color: #605dd9;}
.bg- {background-color: #3a6186;} .c- {color: #3a6186;}
.bg- {background-color: #2c3e50;} .c- {color: #2c3e50;}
.bg- {background-color: #78a3e8;} .c- {color: #78a3e8;}
.bg- {background-color: #19c8fa;} .c- {color: #19c8fa;}
.bg- {background-color: #00afb9;} .c- {color: #00afb9;}
.bg- {background-color: #00a8aa;} .c- {color: #00a8aa;}
.bg- {background-color: #009688;} .c- {color: #009688;}
.bg- {background-color: #0081a7;} .c- {color: #0081a7;}
.bg- {background-color: #48b1bf;} .c- {color: #48b1bf;}
.bg- {background-color: #74ebd5;} .c- {color: #74ebd5;}
.bg- {background-color: #1c0010;} .c- {color: #1c0010;}
.bg- {background-color: #2b1a3d;} .c- {color: #2b1a3d;}
.bg- {background-color: #25003e;} .c- {color: #25003e;}
.bg- {background-color: #3c21b7;} .c- {color: #3c21b7;}
.bg- {background-color: #4421b1;} .c- {color: #4421b1;}
.bg- {background-color: #591da9;} .c- {color: #591da9;}
.bg- {background-color: #8000d7;} .c- {color: #8000d7;}
.bg- {background-color: #4c1a57;} .c- {color: #4c1a57;}
.bg- {background-color: #642b73;} .c- {color: #642b73;}
.bg- {background-color: #8e44ad;} .c- {color: #8e44ad;}
.bg- {background-color: #bab0d4;} .c- {color: #bab0d4;}
.bg- {background-color: #acb6e5;} .c- {color: #acb6e5;}
.bg- {background-color: #bdc3c7;} .c- {color: #bdc3c7;}
.bg- {background-color: #a2a2a2;} .c- {color: #a2a2a2;}
.bg- {background-color: #2d2d2d;} .c- {color: #2d2d2d;}
.bg- {background-color: #211c22;} .c- {color: #211c22;}
.bg- {background-color: #0d1117;} .c- {color: #0d1117;}
.bg-dark-grey {background-color: #131212;} .c-dark-grey {color: #131212;}
.bg-dark-green {background-color: #021212;} .c-dark-green {color: #021212;}
/* Background */

/* sdas */
/* sdas */
/* sdas */
/* sdas */
